/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

header {
    background-color: #06131f;
    height: 10vh;
}

header div.container {
    width: 90%;
    margin: auto;
    padding: 1.5rem;
}

header div.container img {
    width: 50px;
}

main {
    background-color: #1d2d3c;
    height: 90vh;
    overflow-y: scroll;
}

main div.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

main div.container div.card {
    width: calc(100% / 3 - 4rem);
    background-color: #112030;
    border-radius: 10px;
    color: white;
    margin: 2rem;
    padding: 2rem 4rem;
    text-align: center;
}

main div.container div.card img {
    width: 100%;
    margin-bottom: 1rem;
}

main div.container div.card h2 {
    margin-bottom: .5rem;
}

main div.container div.card span {
    display: block;
    margin-bottom: .5rem;
}

main div.container div.card span:nth-of-type(2) {
    font-weight: bold;
    font-size: 1.3rem;
}

main div.container div.card div.fullscreen {
    background-color: #112031f1;
    border-radius: 10px;
    position: absolute;
    width: 95vw;
    height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div.container div.card div.fullscreen img {
    width: 400px;
}

main div.container div.card div.fullscreen h2 {
    font-size: 2rem;
}

main div.container div.card div.fullscreen span {
    font-size: 1.3rem;
}

main div.container div.card div.fullscreen span:nth-of-type(2) {
    font-size: 1.7rem;
}

main div.container div.card div.fullscreen span.x-icon {
    position: absolute;
    top: 2%;
    right: 1%;
    border: 1px solid white;
    border-radius: 5px;
    width: 40px;
    aspect-ratio: 1;
    line-height: 40px;
}